.vscode/
env/
uploads/
db.sqlite3
z_unyama.txt
*/__pycache__
__pycache__/
try.py
media/
migrations/
static/
staticfiles/
*/migrations/*
*.pyc
*.pyo
*.pyd
*.swp
*.bak
*.cache
*/migrations/*
/migrations/
*jek.py
